html, body{
  height: 100%;
}

#root{
  background-color: rgb(38, 49, 49);
  min-height: 100%;

}

#main{
  text-align: center;
  background-color: rgb(38, 49, 49);
  min-height: 100%; 
}

#main h1{
  margin: 0px;
  padding: 20px;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}

#menu{
  border: 2px red solid;
  height: 75px;
  width: 280px;
}



.theBoard{
  text-align: center;
}

.outerCells{
  display: inline-block;
}

#cells{
  background-color: rgb(7, 28, 29);
  box-shadow: 10px 10px 5px rgb(11, 18, 19);
  border-radius: 8px;
	display: grid;
	grid-template-columns: repeat(70, 10px);
  padding: 10px;
}

.cell{
  color: black;
  border: 1px solid rgb(163, 189, 199);
  padding: 4px;
}


.options input{
  height: 25px;
  width: 70px;
  text-align: center;
  text-align: center;
  border-radius: 4px;
  border: black 2px solid;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(7, 28, 29);
  color: white;
  box-shadow: 5px 5px 5px rgb(11, 18, 19);
}

.options button{
  height: 30px;
  width: 100px;
  text-align: center;
  border-radius: 4px;
  border: black 2px solid;
  background-color: rgb(7, 28, 29);
  font-family: 'Courier New', Courier, monospace;  
  color: white;
  box-shadow: 5px 5px 5px rgb(11, 18, 19);
}